
header {
  text-align: center;
}


img {
  display: block;
  margin: 0 auto;
}


nav a {
  padding: 10px;
  background-color: grey;
}

/* Style image caption */
figcaption {
  font-size: 14px;
  text-align: center;
}


#featured-property p {
  width: 800px;
  margin: 0 auto;
  text-align: center;
}


#details div {
  float: left;
  width: 25%;
  background-color: lightgrey;
  text-align: center;
}


.bottom-row div {
  background-color: lightblue;
  text-align: center;
  width: 25%;
}
